node_modules/
.env

# OS junk
.DS_Store
Thumbs.db
*.log

# .NET backend
Backend/bin/
Backend/obj/
Backend/backend.Tests/bin/
Backend/backend.Tests/obj/
Backend/appsettings.json
Backend/uploads/

# Next.js frontend
Frontend/.next/
Frontend/tsconfig.tsbuildinfo
Frontend/.env.local
